*{margin:0;padding:0;}
body,html{width: 100%;height: 100%;background: #eee;}
*{box-sizing: border-box;font-size: 14px;}
ul li{list-style: none;}
@bg:#ffc900;
@txtcol:#333;
#app{width: 100%;height: 100%;}
.txtleft{text-align: left;}
.txtright{text-align: right;}
.flex{display: flex;}
.flexitem{flex: 1;justify-content: center;align-items: center;}
.hide{display: none;}
.show{display: block;}
// 布局
.w100{width: 100%;}
.w90{width: 90%;}
.w80{width: 80%;}
.w70{width: 70%;}
.w60{width: 60%;}
.w50{width: 50%;}
.w40{width: 40%;}
.w30{width: 30%;}
.w20{width: 20%;}
.w10{width: 10%;}
// 内外边距
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}
.mt20{margin-top: 20px;}
.mb20{margin-bottom: 20px;}
.pl20{padding-left: 20px;}
.pr20{padding-right: 20px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
// 字体大小
.font12{font-size: 12px;}
.font14{font-size: 14px;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font22{font-size: 22px;}
.font24{font-size: 24px;}
.font26{font-size: 26px;}
.font28{font-size: 28px;}
.font30{font-size: 30px;}
.font32{font-size: 32px;}
.font34{font-size: 34px;}
.font36{font-size: 36px;}
.font38{font-size: 38px;}
.font40{font-size: 40px;}
.font42{font-size: 42px;}
.font44{font-size: 44px;}
.font46{font-size: 46px;}
.font48{font-size: 48px;}
.iconfont{vertical-align: middle;}
.Header{position: fixed;top: 0;left: 0;width: 100%;height: 60px;background:#fff;
	.title{color: @txtcol;height: 60px;line-height: 60px;position:relative;
		.opeartion{background: #fff;width: 120px;position: absolute;top: 80px;right: 20px;
			li{background: #fff;}
		}
		.logo{display: inline-block;width: 140px;height: 40px;vertical-align:middle;z-index: 1;position:relative;
			background: url(../assets/pic/logo.jpg) no-repeat center;background-size: contain;}
	}
	
}
.Menu{width: 140px;background:#fff;height: 100vh;padding-top:70px;color: @txtcol;
ul li{height: 36px;line-height: 36px;text-align: left;padding:0 15px;cursor: pointer;
	.iconfont{margin-right: 8px;}
	.youjiantou{float: right;}
  }
}